<!DOCTYPE html>
<html>
<head>
  <title>
    <%=businessName%> - Welp Reviews
  </title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/favicon.ico">
</head>
<body>
  <div id="reviews"> </div>


  <script>
    window.businessId = <%=businessId%>;
    window.businessName = "<%-businessName%>";
  </script>
    <script src="http://localhost:9003/dist/bundle.js"></script>
</body>
</html>