.searchBox {
  box-sizing: border-box;
  width: 220px;
  height: 30px;
  padding: 5px 9px;
  background: white;
  border: 1px solid #999;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  float: left;
}

.searchButton {
  border-radius: 0 3px 3px 0;
  width: 37px;
  height: 30px;
  border: 1px solid #8d0005;
  background: linear-gradient(#d90007, #c91400);
  float: left;
  margin-right: 12px;
  cursor: pointer;
}

.container {
  height: 30px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 9px;
  width: 629px;
}

.searchIcon {
  line-height: 28px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.closeSearch {
  border-radius: 3px;
  width: 105px;
  height: 30px;
  border: 1px solid #8d0005;
  background: linear-gradient(#d90007, #c91400);
  float: left;
  margin-right: 12px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: white;
}

.hide {
  display: none;
}

.searchTag {
  float: left;
  line-height: 30px;
  color: #d32323;
  font-weight: bold;
  margin-right: 12px;
}