.adList {
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
  }
  
  .listEntry {
    border-bottom: 1px solid #e6e6e6;
    overflow: auto;
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    border-radius: 5px;
  }